@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: sans-serif; 
    border-style: none;
    outline: inherit;
    line-height: 1.3em;
}


:root{
    --btn: #1bbcef;
    --bgc: #7030cc;
}

ul,a{
    list-style: none;
    text-decoration: none;
    color: inherit;
}


/* nav-start */
nav{
    width: 100%;
    margin-bottom: -151px;
}

.nav{
    color: #fff;
    width: 80%;
    margin: auto;
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 40%;
}


.list-items{
    font-size: 18px;
    font-weight: 300;
    margin: auto;
    width: 100%;
    display: flex; 
    gap: 60px;
    align-items: center;
}

.list-items a:hover{
    text-decoration: underline;
    font-weight: 100;
}

.btn{
    width: 25%;
}

.btn button{
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px 25px;
    color: #fff;
    background-color: var(--btn);
}
/* Nav-end */

/* Main */
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120vh;
    background-color: var(--bgc);
}

.left-section{
    color: #fff;
    margin-left: 15%;
    font-size: 28px;
}

.left-section p{
    margin-top: 2.5em;
    letter-spacing: 0.1em;
    font-size: 16px;
}

.right-sec img{
    float: right;
    width: 600px;
}

.btn i{
    visibility: hidden;
}


@media screen and (max-width: 768px){
    main{
        width: 100%;
        height: 120vh;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column-reverse;
    }

    .right-sec > img{
        margin-top: 4em ;
        width: 100%;
    }

    .left-section h1{
        margin-top: 1em;
        font-size: 32px;
    }

    .left-section p{
        font-size: 14px;
    }

    
}


/*Main-End */

/* Section2-start */

section{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

.left-2ndsec{
    width: 40%;
    margin-left: 10%;
}

.list-right h1{
    font-size: 32px;
    margin-bottom: 1.5em;
}

.icon-box{
    width: 400px;
    height: 150px;
}

.right-2ndsec{
    width: 40%;
}

.flex{
    margin-bottom: 1em;
    display: flex;
    align-items: center;   
}

.flex i{
    color: #f28a3f;
    font-size: 26px;
}

.color1{
    color: #7aca3a;
}

.color2{
    color: #3f9cf2;
}
.flex h3{
    margin-left: 3%;
    font-size: 26px;
}

.icon-box p{
    margin-left: 2.4em;
    font-size: 16px;
}

/* Section2 end */

/* Section 3 */

.sec3{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.head{
    font-size: 32px;
    text-align: center;
}

.card-wrap{
    width: 80%;
    margin: auto;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;      
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    border-radius: 50px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.3);
}

.img{
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #faeaeb;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}



.content{
    text-align: center;
    color: #000;
    font-size: 22px;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    border-radius:30px;
}

.content:hover{
    border-radius:30px;
    background-color: var(--bgc);
    color: #fff;
}

.active{
    text-align: center;
    color: #fff;
    font-size: 22px;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:30px;
    width: 100%;
    height: 150px;
    background-color: var(--bgc);
}

.content h5{
    margin-bottom: 1em;
}

.content p{
    font-size: 16px;
}

@media screen and (max-width: 1200px){
    .btn{
        width: 40%;
    }
    .btn button{
        margin-left: 2em;
        padding: 15px 20px;
    }

    main{
        height: 120vh;
    }
    .left-section h1{
        font-size: 40px;
    }
    .left-section .right-sec{
        width: 50%;
        margin-top: 2em;

    }
    .right-sec img{
        margin-top: 2em;
        width: 450px;
    }
}

@media screen and (max-width: 600px){
    .list-items a{
        display: none;
    }

    .btn{
        display: none;
    }

    .btn i{
        display: block;
        color: #000;
    }

    main{
        width: 100%;
        height: 120vh;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column-reverse;
    }

    .right-sec > img{
        margin-top: 4em ;
        width: 100%;
    }

    .left-section h1{
        margin-top: 1em;
        font-size: 32px;
    }

    .left-section p{
        font-size: 14px;
    }

    section{
        margin-top: auto;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }

    .left-2ndsec{
        width: 100%;
    }

    .left-2ndsec img{
        display: block;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .right-2ndsec{
        width: 100%;
    }

    .list-right h1{
        text-align: center;
    }

    .icon-box{
        margin-left: 5%;
    }

    .head{
        font-size: 22px;
    }

    .card-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
    }

    .card{
        width: 50%;
    }
}